a:hover {
  text-decoration: none;
}

div#heatmap {
  display: flex;
  justify-content: start;
  width: 800px;
}

#mainApp {
  overflow-x: none;
  display: flex;
  justify-content: center;
}

div#tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

#about div.container {
  width: 800px;
}

@media screen and (max-width: 800px) {
  #mainApp {
    justify-content: start;
  }
}
